@font-face {
  font-family: 'Segoe UI';
  src: url('../fonts/Segoe UI.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold';
  src: url('../fonts/Segoe UI Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI Bold Italic';
  src: url('../fonts/Segoe UI Bold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI Italic';
  src: url('../fonts/Segoe UI Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'SFNSText Regular';
  src: url('../fonts/SFNSText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SFNSText Bold';
  src: url('../fonts/SFNSText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
